@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4daf54;
}

body {
    height: 100vh;
    background: linear-gradient(to right, rgb(77, 175, 84), rgb(61, 136, 128));
    font-family: 'Poppins', sans-serif;
}

.card {
    margin: 120px auto;
    height: 400px;
    width: 320px;
    background: #4b2727;
    border-radius: 10px;
    color: white;
    position: relative;
}

.card__heart,
.card__cart {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.card__cart {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
    transition: 0.5s;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__title {
    color: var(--primary-color);
}

.card__title,
.card__price {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.card__size,
.card__color {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 12px;
    transition: 0.5s;
}

.card__size span {
    background: #fff;
    color: black;
    border-radius: 4px;
    margin: 5px;
    padding: 4px;
    font-weight: bold;
}

.card__color span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}

.card__color-green {
    background: green;
}

.card__color-red {
    background: red;
}

.card__color-black {
    background: black;
}

.card__action {
    margin-left: 20px;
    transition: 0.5s;
}

.card__action button {
    background: var(--primary-color);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.card:hover .card__img {
    transform: translateY(-60px) rotate(-20deg);
}

.card:hover .card__title {
    transform: translate(-41px, -52px);
}

.card:hover .card__price {
    transform: translate(-115px, -52px)
}

.card__size {
    margin-top: 150px;
}

.card__size,
.card__color,
.card__action {
    visibility: hidden;
    opacity: 0;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
    visibility: visible;
    opacity: 100;
}

.card:hover .card__size {
    margin-top: -30px;
}